The Q - Product - Data/Workflows/MarketSetupPeriodChangeFlow-44D754C1-138B-EB11-A812-002248220D13.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_8f333"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Market_Setup_Period_Changes":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"new_qitemmarketsetupperiod","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_the_Market_Setup_Period_Instance_by_ID":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_qitemmarketsetupperiods","recordId":"@triggerOutputs()?['body/new_qitemmarketsetupperiodid']"},"authentication":"@parameters('$authentication')"}},"Get_its_parent_Q_Item_Market_Setup_by_ID":{"runAfter":{"Get_the_Market_Setup_Period_Instance_by_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_qitemmarketsetups","recordId":"@outputs('Get_the_Market_Setup_Period_Instance_by_ID')?['body/_new_qitemmarketsetup_value']"},"authentication":"@parameters('$authentication')"}},"Get_all_of_the_triggering_record's_siblings":{"runAfter":{"Get_its_parent_Q_Item_Market_Setup_by_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_qitemmarketsetupperiods","$filter":"_new_qitemmarketsetup_value eq '@{outputs('Get_its_parent_Q_Item_Market_Setup_by_ID')?['body/new_qitemmarketsetupid']}'"},"authentication":"@parameters('$authentication')"}},"Initialize_the_Statuses_Array":{"runAfter":{"Get_all_of_the_triggering_record's_siblings":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Statuses","type":"array"}]}},"Loop_over_all_Q_Item_Market_Setup_Periods":{"foreach":"@outputs('Get_all_of_the_triggering_record''s_siblings')?['body/value']","actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Statuses","value":"@toLower(string(items('Loop_over_all_Q_Item_Market_Setup_Periods')?['new_inmenustatus']))"}}},"runAfter":{"Initialize_the_Statuses_Array":["Succeeded"]},"type":"Foreach"},"Set_the_In_Menu_Status_of_the_Q_Item_Market_Setup_based_on_its_child_periods":{"runAfter":{"Loop_over_all_Q_Item_Market_Setup_Periods":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_qitemmarketsetups","recordId":"@outputs('Get_its_parent_Q_Item_Market_Setup_by_ID')?['body/new_qitemmarketsetupid']","item/new_inmenustatus":"@contains(variables('Statuses'), 'true')"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}