The Q - Product - Data/Workflows/RecalculateInMenuStatuses-0EDCE048-7888-EB11-A812-000D3A1E0B62.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_8f333"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Hour","interval":1},"type":"Recurrence"}},"actions":{"Get_all_Q_Item_Market_Setups":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_qitemmarketsetups"},"authentication":"@parameters('$authentication')"}},"Initialize_the_Statuses_Array":{"runAfter":{"Get_all_Q_Item_Market_Setups":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Statuses","type":"array"}]}},"Initialize_the_Empty_Array_variable_(!)":{"runAfter":{"Initialize_the_Statuses_Array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Empty Array","type":"array"}]}},"Iterate_over_all_Q_Item_Market_Setups":{"foreach":"@outputs('Get_all_Q_Item_Market_Setups')?['body/value']","actions":{"Get_all_child_periods":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_qitemmarketsetupperiods","$filter":"_new_qitemmarketsetup_value eq '@{items('Iterate_over_all_Q_Item_Market_Setups')?['new_qitemmarketsetupid']}'"},"authentication":"@parameters('$authentication')"}},"Iterate_over_all_child_periods":{"foreach":"@outputs('Get_all_child_periods')?['body/value']","actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Statuses","value":"@toLower(string(items('Iterate_over_all_child_periods')?['new_inmenustatus']))"}}},"runAfter":{"Get_all_child_periods":["Succeeded"]},"type":"Foreach"},"Update_the_market_setup's_In_Menu_Status,_based_on_it's_child_period's_statuses":{"runAfter":{"Iterate_over_all_child_periods":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_qitemmarketsetups","recordId":"@items('Iterate_over_all_Q_Item_Market_Setups')?['new_qitemmarketsetupid']","item/new_inmenustatus":"@contains(variables('Statuses'), 'true')"},"authentication":"@parameters('$authentication')"}},"Clear_the_Statuses_Array":{"runAfter":{"Update_the_market_setup's_In_Menu_Status,_based_on_it's_child_period's_statuses":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Statuses","value":"@variables('Empty Array')"}}},"runAfter":{"Initialize_the_Empty_Array_variable_(!)":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}